@use "../tools/" as *;
@use "../settings/" as *;

.header {
  width: 100%;

  &__logo {
    height: rem(90);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__menu-wrapper {
    width: 100%;
    height: rem(52);

    $border: rem(1) solid map-get($colors, gray, 400);
    border-top: $border;
    border-bottom: $border;
  }

  &__menu {
    width: 90%;
    height: 100%;
    max-width: rem(1200);
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
  }

  &__nav {
    width: 100%;
    height: 100%;
  }

  &__search-and-purchases {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr rem(45);
    gap: rem(10);
    overflow: hidden;
  }
}
