@use "../tools/" as *;
@use "../settings/" as *;

.portal {
  position: fixed;
  inset: 0;
  z-index: 1;
  overflow-y: auto;

  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  .lightbox,
  .cart {
    display: none;
  }

  &[class*="show"] {
    display: flex;
  }

  &.show-lightbox {
    padding: 1rem 0;
    .lightbox {
      display: block;
    }
  }

  &.show-cart {
    .cart {
      display: flex;
    }
  }
}
