@use "../tools/" as *;
@use "../settings/" as *;

.main {
  width: 90%;
  margin: 0 auto;
  margin-bottom: rem(140);

  > .breadcrumb {
    height: rem(38);
    margin-bottom: rem(12);
  }

  > .product-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin-bottom: rem(60);
  }

  .product-recommendation {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      color: map-get($colors, orange);
      text-transform: uppercase;
      font-size: rem(26);
      
      padding: rem(6);
      margin-bottom: rem(18);
    }
  }
}
