$colors: (
  gray: (
    100: hsl(0, 0%, 95%),
    200: hsl(0, 0%, 92%),
    300: hsl(0, 0%, 89%),
    400: hsl(0, 0%, 80%),
    500: hsl(0, 0%, 68%),
    600: hsl(0, 0%, 50%),
    700: hsl(0, 0%, 41%)
  ),
  blue: hsl(223, 31%, 52%),
  blue-gray: hsl(215, 13%, 72%),
  cyan: hsl(202, 47%, 31%),
  orange: hsl(15, 61%, 66%),
  purple: hsl(328, 90%, 35%),
  black: hsl(0, 0%, 0%),
  white: hsl(0, 0%, 100%),
  green: hsl(166, 49%, 38%)
)