// font-family: 'Montserrat', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

$montserrat: "Montserrat", sans-serif;
$font-bold: (
  regular: 400,
  medium: 500,
  bold: 700,
);
