@use "../tools/" as *;
@use "../settings/" as *;

.carousel-horizontal {
  width: 100%;

  &__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: rem(20);
  }

  &__product {
    max-width: rem(300);
    width: 95%;
    margin: 0 auto;
    justify-self: center;
  }

  &__product-img {
    cursor: pointer;

    position: relative;
    transition: opacity 200ms ease;
    overflow: hidden;


    > img {
      display: block;
      width: 100%;
      
      transition: transform 200ms ease-in;
    }

    &:hover {
      opacity: 85%;
      
      > img {
        transform: scale(1.12);
      }
    }
  }

  &__product-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: rem(8);

    &__colors-list {
      display: flex;
      gap: rem(6);
    }

    &__color {
      width: rem(14);
      height: rem(14);
      background-color: gray;
      border-radius: 50%;
    }

    &__price {
      color: hsl(0, 0%, 13%);
      font-size: rem(16);
    }
  }

  &__controllers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(4);

    &__controller {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      width: rem(36);
      height: rem(36);

      border-radius: 50%;
      border: 2px solid map-get($colors, cyan);

      transition: background-color 200ms ease;

      &.--left {
        transform: rotate(90deg);
      }
      &.--right {
        transform: rotate(-90deg);
      }

      &:hover {
        background-color: map-get($colors, cyan);
      }
    }

    &__icon {
      > path {
        fill: map-get($colors, cyan);
        transition: fill 200ms ease;
      }
    }

    &__controller:hover > &__icon {
      > path {
        fill: map-get($colors, white);
      }
    }

    &__index {
      display: flex;
      align-items: center;
      justify-content: center;

      width: rem(70);
      height: rem(36);

      color: map-get($colors, cyan);
      font-size: rem(14);
    }
  }
}
