@use "../tools/" as *;
@use "../settings/" as *;

.carousel-vertical {
  display: flex;
  gap: 3vw;
  user-select: none;

  &__gallery {
    width: rem(82);
  }

  &__title {
    height: rem(28);
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: rem(13);
    color: map-get($colors, orange);
  }

  &__controller {
    width: 100%;
    display: flex;
    justify-content: center;

    padding: rem(10) 0;
    cursor: pointer;

    transition: background-color 200ms ease;

    &.--up {
      margin-bottom: rem(10);
    }

    &.--down {
      margin-top: rem(10);
    }

    &:hover {
      background-color: map-get($colors, gray, 200);
    }
  }

  &__imgs-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(10);
  }

  &__imgs-list__item {
    width: 100%;

    > img {
      display: block;
      object-fit: cover;
      width: 100%;

      transition: opacity 300ms ease;
    }

    &:not(.active) {
      > img {
        opacity: 0.5;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  &__full-img-container {
    max-width: rem(430);

    > img {
      display: block;
      object-fit: cover;
      width: 100%;
    }
  }
}
