@use "../tools/" as *;
@use "../settings/" as *;
@use "../trumps/" as *;

.close-button {
  @extend %button-reset;

  width: rem(42);
  height: rem(42);
  padding: 6px;

  @include breakpoint(small-only) {
    width: rem(50);
    height: rem(50);
  }

  > svg {
    width: 100%;
    height: 100%;

    > path {
      fill: map-get($colors, blue);
      transition: fill 200ms ease;
    }
  }

  &:hover {
    > svg > path {
      fill: lighten(map-get($colors, blue), 16);
    }
  }
}
