@use "../tools/" as *;
@use "../settings/" as *;

.newsletter-signup {
  width: 80%;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  @include breakpoint(smedium-only) {
    width: 100%;
    height: auto;

    display: grid;
    align-items: flex-start;
    justify-content: flex-start;

    grid-template-columns: minmax(rem(180), 1fr) minmax(rem(110), rem(200));
    column-gap: rem(20);

    > * {
      grid-column: 1 / -1;
    }
  }

  &__title {
    text-transform: uppercase;
    color: hsl(0, 0%, 13%);
    font-weight: map-get($font-bold, bold);
    text-align: center;
    width: 86%;
    margin: 0 auto rem(8) auto;

    @include breakpoint(smedium-only) {
      font-weight: map-get($font-bold, regular);
      font-size: rem(24);
      color: hsl(215, 13%, 72%);
      margin-bottom: 1rem;
    }
  }

  &__field {
    width: 100%;
    margin-bottom: rem(14);

    &.error {
      input {
        border-color: map-get($colors, danger, light);
        color: map-get($colors, danger, light);
      }

      span {
        font-weight: map-get($font-bold, bold);
        color: map-get($colors, danger, main);
      }
    }

    &:last-of-type {
      margin-bottom: rem(28);
    }

    @include breakpoint(smedium-only) {
      height: rem(60);

      &:last-of-type {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin: 0;
      }
    }
  }

  &__label {
    height: rem(42);

    display: flex;
    align-items: flex-end;

    position: relative;
  }

  &__input {
    width: 100%;

    font-family: $montserrat;
    color: hsl(0, 0%, 13%);
    font-size: rem(14);
    border: none;
    border-bottom: 2px solid map-get($colors, blue-gray);
    height: rem(28);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: transparent;
    }

    @include breakpoint(smedium-only) {
      font-size: rem(18);
    }
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: rem(14);

    font-family: $montserrat;
    color: hsl(0, 0%, 13%);
    opacity: 50%;
    cursor: text;

    transition: all 200ms ease;

    @include breakpoint(smedium-only) {
      top: 40%;
      font-size: rem(18);
    }
  }

  &__input:focus + &__placeholder,
  &__input:not(:placeholder-shown) + &__placeholder {
    opacity: 1;
    top: 0;
    font-size: rem(12);

    @include breakpoint(smedium-only) {
      top: -#{rem(4)};
      font-size: rem(16);
    }
  }

  &__field-errors {
    font-size: rem(12);
    font-family: $montserrat;
    font-weight: map-get($font-bold, bold);
    color: map-get($colors, danger, dark);
    margin-top: rem(4);

    @include breakpoint(smedium-only) {
      font-size: rem(14);
      margin-top: rem(8);
    }
  }

  &__button {
    height: rem(50);
    max-width: rem(110);
    width: 80%;

    font-family: $montserrat;
    text-transform: uppercase;
    border: none;
    border-radius: rem(3);
    background-color: map-get($colors, orange);
    color: map-get($colors, white);

    cursor: pointer;
    transition: background-color 200ms ease;

    &:hover {
      background-color: darken(map-get($colors, orange), 8);
    }

    &:disabled {
      cursor: default;
      background-color: map-get($colors, blue-gray);
    }

    @include breakpoint(smedium-only) {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      max-width: unset;
      width: 100%;
      height: 100%;
    }
  }
}
